#login-modal {
	margin-bottom: 20px;
}
.btn {
	margin: 5px;
}
#edit-profile-form {
	margin-bottom: 20px;
}

.modal-heading {
	margin-top: 15px;
	margin-bottom: 5px;
}

.events {
	height: 400px;
	width: 250px;
	overflow-y: auto;
}
.remove {
	color: red;
}
#logo {
	display: block;
}

.navbar-brand {
	padding-top: 1px;
}

body {
	background-color: #f8f8f8;
	font-family: 'Balthazar', serif;
	padding-left: 20px;
	padding-right: 20px;
}
.bar {
	width: 100%;
	height: 1px;
	background-color: black;
}
.navbar,
.navbar-default,
.navbar-collapse,
.navbar-default,
.navbar-form  {
	border-color: #f8f8f8;
}
#register {
	position: relative;
	margin: auto;
	top: 100%;
	height: 50px;
	width: 300px;
}
.register-btn {
	position: relative;
	top: 100%;
}
.register-text {
	font-size: 20px;
}

#edit-h2 {
	display: inline;
}

.profile-img {
	border-radius: 100%;
	height: 170px;
	width: 170px;
}

#event-pagination {
	width: 315px;
}

.btn span.glyphicon-ok {               
    opacity: 0;             
}
.btn.active span.glyphicon-ok {             
    opacity: 1;             
}
.interest-buttons {
    padding: 2px;
}
.glyphicon-ok {
    color: red;
}

.standout {
	color: #800000;
}

.caret {
	border-width: 5px;
}

.sample-groups {
	height: 400px;
	background-color: whitesmoke;
	background-size: 100%, 100%, 100%, 100%;
